
.profilePhoto img{
    margin-left: 20px;
    padding: 1rem;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.wrapper{
    border-bottom: rgba(255, 255, 255, .2) 1px solid;
    display: grid;
    grid-template-columns: 1fr 3fr 1.5fr;
    margin-bottom: 0.3rem;
}
.wrapper:last-child{
    border-bottom: none;
}
.followButton {
    align-self: center ;
padding: 10px;

}

.followButton button {
    background-color: rgba(0, 187, 255, 0.08);
    border: none;
    border-radius: 10px;
    color: rgb(0, 187, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 5px;
    cursor: pointer;
    width: 250px;
}

.followButton button:hover{
    background-color: rgba(0, 187, 255, 0.3);
}
.userData {
    padding: 1rem 0;
    position: relative;
    right: 15px;
}
.name{
    font-size: 1.3rem;
    color: rgb(0, 187, 255);
    margin-bottom: 5px;
    margin-top: 20px;
    position: relative;
}
.status{
    margin-bottom: 15px;
}
.location p{
    display: inline;
}

.city{


}
.country{
    font-size: 1.1rem;
    margin-right: 5px;
}