
.dialogs {
  display: grid;
  grid-template-columns: 17rem 1fr;
  color: white;
}
.dialogsItems {
  background-color: #0f0f0f;
}
.dialogsItem {
  color: white;
}
.dialogItem a,.dialogItem a:link  {
  text-decoration: none;
  color: inherit;
}
.dialogItem a:visited{
  text-decoration: none;
}
.dialogItem a:hover{
  color: rgb(0, 187, 255);
}
.messages {
  background-color: #0f0f0f;
}
.message {
  color: white;
}
a.active {
  color: rgb(0, 187, 255);
}